parameters:
    paths:
        - app
    level: max
    tmpDir: storage/phpstan
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
        - message: '#Cannot call method .+ on mixed#'
          path: app/Jobs/ProcessMediaUpload.php
        - message: '#Cannot cast mixed to string#'
          path: app/Jobs/ProcessMediaUpload.php
