includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app
    level: max
    tmpDir: storage/phpstan
    parallel:
        maximumNumberOfProcesses: 1
